body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: #21222a;
}

.navbar--container{
  background-color: #21222a;
  display: flex;
  padding: 0px 20px;
  color:white;
  max-width: 1000px;
  margin: 0 auto;
}

.navbar--home{
  margin-left: auto;
  color:white;
}

.navbar--home:hover{
 cursor: pointer;
}


.navbar--profile{
  margin-left: 30px;
  color:white;
}

.navbar--profile:hover{
  cursor: pointer;
}

.navbar--logout{
  margin-left:30px;
  color:white;
}

.main--container{
  width: 80%;
  margin: 0px auto;
}

.post--container{
  width: 40%;
  min-height: 250px;
  background-color: transparent;
  margin: 10px auto;
  display: flex;
  border: 2px solid black;
  border-radius: 10px;
}

.post--image{
  width: 100%;
  margin: 20px;
}

.post--innertext{
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0px 30px;
}

.post--title{
  text-align: left;
}

.post--description{
  text-align: left;
}

.post--imagecontainer{
  width: 30%;
  justify-content: center;
}